.vscode
*.log
*.swp
.idea
.DS_Store
debug
*.tgz
/atomci.exe
/atomci
/cli
conf/app.local.conf
# conf/*.csv
conf/k8sconfig
web/node_node_modules

# debug
tmp
__debug_bin

# deploy
web/dist
deploy/binary/atomci*
deploy/*-release.sh
deploy/wait-for-it.sh

# docs
docs/outline-design.md
