.vscode
*.log
*.swp
.idea
.DS_Store
debug
# Project binaries.
*.tgz
/atomci.exe
/atomci
/cli
conf/app.local.conf
# conf/*.csv

web/node_node_modules
web/dist
# debug
/tmp
__debug_bin
deploy/binary/atomci*
conf/k8sconfig
