.text {
  font: 16px/24px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}
#nav .box-card {
  color: #606266;
  width: 23.7%;
  height: 60px;
  float: left;
  margin-left: 1%;
  margin-bottom: 1%;
  box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0);
}
#nav {
    text-align:center;
}
#nav span{
    color: #13ce66 
}
#bnav span{
    color: #13ce66 
}
#bnav {
    text-align:center;
}
#bnav .box-card {
  color: #606266;
  width: 32%;
  height: 60px;
  float: left;
  margin-left:1%;
  box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0);
}
